# Server
PORT=4000
NODE_ENV=DEVELOPMENT

# MongoDB
DB_LOCAL_URI=mongodb://localhost:27017/ecommerceapp
DB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ecommerceapp

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
COOKIE_EXPIRES_TIME=7

# SMTP (Email)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_smtp_email@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_NAME=EcommerceApp
SMTP_FROM_EMAIL=noreply@ecommerceapp.com

# Frontend
FRONTEND_URL=http://localhost:3000
