.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fas.fa-star,
.fas.fa-star-half-alt {
  color: #f0a716 !important; /* dark yellow */
}

.far.fa-star {
  color: #ccc !important; /* gray */
}


/* Center the loader */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

/* Circle spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;       /* light gray background */
  border-top: 6px solid #DAA520;   /* dark yellow spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Text */
.loader-container p {
  font-size: 16px;
  color: #555;
  margin-top: 8px;
}

